<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Painel Centro Cirurgico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<a class="btn btn-secondary" href="painel" >Acessar Painel</a>
	<form th:action="@{/logout}" method="post">
        
       <input type="submit" class="btn btn-danger" value="Sair" />
       
</form>

    <script>
        lsUser = []
        function save() {
            const xhttp = new XMLHttpRequest();
            id = document.getElementById("id").value;
			name = document.getElementById("name").value;
            status = document.getElementById("status").value;
            local = document.getElementById("local").value;
            iniPrevisto = document.getElementById("iniPrevisto").value;
            iniCirurgia = document.getElementById("iniCirurgia").value;
            fimCirurgia = document.getElementById("fimCirurgia").value;
 	        saidaPrev = document.getElementById("saidaPrev").value;

			 if (name == '') {
                alert('O Nome do Paciente é obrigatório.');
                return false;
            }
			if (id > 0) {

 		xhttp.open("PUT", `/user/${id}?name=${name}&status=${status}&local=${local}&iniPrevisto=${iniPrevisto}&iniCirurgia=${
			 iniCirurgia}&fimCirurgia=${fimCirurgia}&saidaPrev=${saidaPrev}`);

			} else {
	   xhttp.open("POST", `/user/?name=${name}&status=${status}&local=${local}&iniPrevisto=${iniPrevisto}&iniCirurgia=${
		   iniCirurgia}&fimCirurgia=${fimCirurgia}&saidaPrev=${saidaPrev}`);

            }
 //console.log(pr)//

            xhttp.send();
            xhttp.onload = function () {
                alert(this.responseText);
                listAllUser();
                clearForm();
            }
        }
        function listAllUser() {

            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", `/user/`);
            xhttp.send();
            xhttp.onload = function () {
                lsUser = JSON.parse(this.responseText);
                out = "";
                for (const i in lsUser) {
                    console.log(lsUser[i])
                    u = lsUser[i]
					try {
                        cor = corStatus(u.status).cor  
                        
                    } catch (error) {

                    }
					
					out += `<tr onclick='activate(${i})'><td>${u.name}</td>
														 <td style="background-color: ${cor}"> ${u.status}</td>
                                                         <td>${u.local}</td>
 														 <td>${u.iniPrevisto}</td>
                                                         <td>${u.iniCirurgia}</td>
                                                         <td>${u.fimCirurgia}</td>
                                                         <td>${u.saidaPrev}</td>
                            </tr>`;
                }
                document.getElementById("tbody").innerHTML = out;
            }
        }
        function activate(id) {
            u = lsUser[id]
            document.getElementById("id").value = u.id;
            document.getElementById("name").value = u.name;
            document.getElementById("status").value = u.status;
            document.getElementById("local").value = u.local;
 	        document.getElementById("iniPrevisto").value = u.iniPrevisto;
            document.getElementById("iniCirurgia").value = u.iniCirurgia;
            document.getElementById("fimCirurgia").value = u.fimCirurgia;
 	        document.getElementById("saidaPrev ").value = u.saidaPrev;

        }
        function clearForm() {
            document.getElementById("id").value = "";
 	        document.getElementById("name").value = "";
            document.getElementById("status").value = "";
		    document.getElementById("local").value = "";
            document.getElementById("iniPrevisto").value = "";
            document.getElementById("iniCirurgia").value = "";
            document.getElementById("fimCirurgia").value = "";
	        document.getElementById("saidaPrev").value = "";
        }
        function deleteUser() {
            const xhttp = new XMLHttpRequest();
            id = document.getElementById("id").value;
            xhttp.open("DELETE", `/user/${id}`);
            xhttp.send();
            xhttp.onload = function () {
                alert(this.responseText);
                listAllUser();
                clearForm();
            }
        }

		function corStatus(status) {
            console.log(status)
            switch (status) {
                case 'Pré Operatório':
                    return {
                        label: 'Pré-Operatório',
                        cor: '#eff307'
                    };
                case 'Sala de Cirurgia':
                    return {
                        label: 'Sala de Cirurgia',
                        cor: '#1648ec'
                    };
                case 'Sala de Recuperacao':
                    return {
                        label: 'Sala de Recuperacao',
                        cor: '#ec1d16'
                    };
                case 'Transferído':
                    return {
                        label: 'Transferído',
                        cor: '#16ec56'
                    };
            }


        }


    </script>

    <div class="container mt-3">
<div class="row">
           <div>
                <h2 class="col mt-1">Gerenciar Painel dos Pacientes no Centro Cirúrgico<samp id="view"></samp></h2>
            </div>
        </div>

        <form>
 <div class="row mb-3 mt-3">

			<div class="col">
				<input type="hidden" id="id" name="id">
				<label for="name">Nome:</label>
				<input type="text" class="form-control" id="name" placeholder="Digite seu nome" name="name">
			</div>

			<div class="col">
				<style type="cores/css"></style>
				<label for="status">Status:</label>
				<select class="form-select" id="status" name="status">
					<option style="background-color: #eff307;" value="Pré Operatório">Pré Operatório </option>
					<option style="background-color: #1648ec;" value="Sala de Cirurgia">Sala de Cirurgia</option>
					<option style="background-color: #ec1d16;" value="Sala de Recuperacao">Sala de Recuperação
					</option>
					<option style="background-color: #16ec56;" value="Transferído">Transferído</option>
					
				</select>
			</div>

                <div class="col">
					<input type="hidden" id="id" name="id">
                    <label for="local">Local:</label>
                    <input type="text" class="form-control" id="local" placeholder="Quarto/Sala" name="local">
                </div>


                <div class="row p-3">
                    <div class="col">
                        <label for="iniPrevisto">Início Previsto: </label>
                        <input type="time" class="form-control" id="iniPrevisto" name="iniPrevisto">
                    </div>
				<div class="col">
                        <label for="iniCirurgia">Início Cirurgia: </label>
                        <input type="time" class="form-control" id="iniCirurgia" name="iniCirurgia">
                    </div>
 				<div class="col">
                        <label for="fimCirurgia">Fim da Cirurgia: </label>
                        <input type="time" class="form-control" id="fimCirurgia" name="fimCirurgia">
                    </div>
				<div class="col">
                        <label for="saidaPrev">Saída da Cirurgia: </label>
                        <input type="time" class="form-control" id="saidaPrev" name="saidaPrev">
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-primary" onclick="save()">Salvar</button>
                    <button type="button" class="btn btn-secondary" onclick="clearForm()">Limpar</button>
                    <button type="button" class="btn btn-danger" onclick="deleteUser()">Apagar</button>
					
                </div>

            </div>
</form>
    </div>
    <div class="container mt-3">
        <table class="table table-hover" style="cursor: pointer;">
            <thead class="table-success">
                <tr>
 					<th width="30%">Nome do Paciente</th>
                    <th width="20%">Status</th>
                    <th width="20%">Local</th>
                    <th width="10%">Início Previsto</th>
                    <th width="10%">Início Cirurgia</th>
                    <th width="10%">Fim da Cirurgia</th>
                    <th width="10%">Saída da Cirurgia</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <script>listAllUser();</script>
</body>
<loom-container id="lo-engage-ext-container"><loom-shadow classname="resolved"></loom-shadow></loom-container>
<loom-container id="lo-companion-container"><loom-shadow classname="resolved"></loom-shadow></loom-container>
</html>

