html,

.body {
  background-image: linear-gradient(to right, #5ccea2f8, #8ee6c4f8);
  font-family: sans-serif;

}

body {
  background-color: rgba(20, 99, 46, 0.02);
  font-family: sans-serif;

}
.form{
  width: 600px;
  margin: auto; 
  padding-top: 50px;
  
}

.card{
  box-shadow: 1px 1px 5px rgb(5, 29, 13) ;
  background-image: linear-gradient(to right, #8ee6c4f8 , #ced4eb4f);
  padding: 30px;
  border-radius: 5px;
}
.cardtop{
  text-align: center;
  width: 100%;
  margin: auto; 
}
.card-group{
  margin-bottom: 10px;
}
.card-group > label{
  width: 100%;
  color: rgb(41, 39, 39);
  display: block;
}
.card-group > input{
  border-radius: 5px;
  outline: 0;
  width: 100%;
  height: 25px;
  padding: 5px;
} 

.card-group > button{

 background-image: linear-gradient(to right, #127283, #031347);
  text-align: center;
  width:100%;
  border-radius: 20px;
  padding: 10px;
  color: whitesmoke;
  border: 10px;
  outline: 0;
}
.btn button:hover{
  background-image: linear-gradient(to right, #24d0ee, #051747 );
}

.imglogin{

  border-radius: 0px;
  box-shadow: 0px 5px 15px;
  width: 100%;
}

.title{
  color: black;
  text-align: center;
}